.carouselWrapper{
    margin-top:50px;
    margin-bottom:30px;
    display:flex;
    justify-content: center
}

img{
    max-height:70vh;
    width:130vh
}

.headerButtonContainer{
    display:flex;
    justify-content: center;
    margin-top:10vh
}

.headerButtonContainer button{
    margin-left: 2%;
    margin-right:2%;
    font-size: 19px;
    background-color: #333;
    color:white
}

.carousel-caption{
    background-color:rgb(161, 157, 157);
    width:100%;
    opacity: 0.7;
    margin-left:-15%
}

.carousel-caption > h3{
   color:black
}

.carousel-caption p{
    color:black
}