.carouselWrapper{
    margin-top:2%;
    margin-bottom:30px;
    display:flex;
    justify-content: center
}

img{
    max-height:70vh;
    width:130vh;
    border-radius: 2.8%
}

.headerButtonContainer{
    display:flex;
    justify-content: center;
    margin-top:5vh
}

.headerButtonContainer button{
    margin-left: 2%;
    margin-right:2%;
    font-size: 19px;
    background-color: #333;
    color:white
}

.carousel-caption{
    background-color:white;
    width:100%;
    opacity: 0.7;
    margin-left:-15%
}

.carousel-caption > h3{
   color:black;
   font-family:'Arial Narrow Bold'
}

.carousel-caption p{
    color:black;
    font-family:'Arial Narrow Bold'
}

ngb-carousel{
    border:1px solid #333;
    border-radius: 2.9%
}

#ngb-slide-0{
   color:#333
}