<div class="headerButtonContainer">
        <button mat-raised-button [routerLink]="['/meetup']">Explore Meetups</button>
        <button mat-raised-button *ngIf="isLoggedIn"  [routerLink]="['/create']">Organise Meetups</button>
        <button mat-raised-button *ngIf="!isLoggedIn" [routerLink]="['/signin']">Organise Meetups</button>
    </div>
    <div class="carouselWrapper">
    <ngb-carousel id="carousel" *ngIf="images" >
      <ng-template ngbSlide *ngFor="let item of meetups; let i = index">
        <div class="picsum-img-wrapper">
          <img [src]="item.imageUrl" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>{{item.title}}</h3>
          <p>{{item.description}}</p>
        </div>
      </ng-template>
    </ngb-carousel>
    </div>
    