.carouselWrapper{
    margin-top:50px;
    margin-bottom:30px;
    display:flex;
    justify-content: center
}

img{
    max-width: 155vh
}

.headerButtonContainer{
    display:flex;
    justify-content: center;
    margin-top:10vh
}

.headerButtonContainer button{
    margin-left: 2%;
    margin-right:2%;
    font-size: 19px;
    background-color: #333;
    color:white
}


