.dashboard-card{
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 3%;
    color:white;
    border: 1px solid grey;
    box-shadow: inset 42vh 10vh 45vh 10vh rgba(0,0,0,.85);
}

.mat-card > .mat-card-actions {
    display:flex;
    justify-content: right;
}

.mat-card > .mat-card-actions > button{
    color:#c9c4c4;
    box-shadow: inset 4vh 10vh 5vh 10vh rgba(0,0,0,.85);
    border: 1px solid #c9c4c4;
    opacity: 0.8
}

.mat-card > .mat-card-content{
    margin-left:3%
} 

img{
    max-width:35vh;
    max-height: 15vh;
    border-radius: 4%;
    margin-left:3%
}

.backBtn{
    margin-top:10px;
    margin-left:10px;
    background-color:#333;
}

.backIcon{
    color:#c9c4c4;
    transform: scale(1.5)
}