<button mat-flat-button class="backBtn" [routerLink]="['/']">
    <mat-icon class="backIcon">arrow_left_alt</mat-icon>
</button>
<mat-card class="dashboard-card mb-3" *ngFor="let item of meetups; let i = index" >
    <mat-card-header>
      <mat-card-title class="title">{{item.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="item.imageUrl" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{item.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button  class="viewMeetupButton" (click)="passParams(item.title)" [routerLink]="['/view-meetup']">
            View meetup
          <mat-icon aria-hidden="false">arrow_right_atl</mat-icon>
        </button>
    </mat-card-actions>
  </mat-card>
  