.image{
    max-height: 70vh
}

.backBtn{
    margin-top:10px;
    margin-left:10px;
    background-color:#333;
}

.backIcon{
    color:#c9c4c4;
    transform: scale(1.5)
}

.cardWrapper{
    display:flex;
    justify-content: center
}

.dashboard-card{
    background-color: rgb(181, 212, 238);
    width:70%
}