<button mat-flat-button class="backBtn" [routerLink]="['/']">
    <mat-icon class="backIcon">arrow_left_alt</mat-icon>
</button>
<div class="cardWrapper" *ngIf="oneMeetup">
<mat-card class="dashboard-card">
    <div class="Wrap">
        <div class="firtHalf">
            <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{oneMeetup.title}}</mat-card-title>
            </mat-card-header>
            <img class="image" [src]="oneMeetup.imageUrl" alt="meetup-image">
        </div>
        <mat-divider [vertical]="true" class="ml-3"></mat-divider>
        <div class="secondHalf">
            <mat-card-subtitle>
                <p class="timeAndDate">{{oneMeetup.date.day}}.{{oneMeetup.date.month}}.{{oneMeetup.date.year}} - {{oneMeetup.time.hour}}:{{oneMeetup.time.minute}} h</p>
                <p class="location">{{oneMeetup.location}}</p>
            </mat-card-subtitle>
            <mat-card-content>
                <span>{{oneMeetup.description}}</span>
            </mat-card-content>
        </div>
    </div>
    <mat-card-actions *ngIf="userIsAuthenticated && !userIsCreator">
        <button mat-flat-button class="registerBtn" (click)="onRegister()">{{userIsRegistered ? 'Unregister' : 'Register'}}</button>
    </mat-card-actions>
</mat-card>
</div>