<button mat-flat-button class="backBtn" [routerLink]="['/']">
    <mat-icon class="backIcon">arrow_left_alt</mat-icon>
</button>
<div class="container">
<div class="title">
     <h2>Create Meetup</h2>
</div>
<div class="messageContainer" id="top" *ngIf="message">
        <button mat-icon-button class="closeErrorBtn" (click)="closeError()"><mat-icon class="closeIcon">clear</mat-icon></button>
        <h2 id="errorHeader">Error:</h2>
        <h3  class="mb-3" id="errorMessage">{{message}}</h3>
    </div>
<p>
    <mat-form-field appearance="legacy">
        <mat-label >Title</mat-label>
        <input matInput placeholder="Enter your title" [(ngModel)]="newMeetup.title" required>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="legacy" class="mt-3">
        <mat-label>Location</mat-label>
        <input matInput placeholder="Location of the event" [(ngModel)]="newMeetup.location" required>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="legacy" class="mt-3">
        <mat-label>Image URL</mat-label>
        <input matInput placeholder="Image link" [(ngModel)]="newMeetup.imageUrl" required>
        <img class="srcImage" [src]="newMeetup.imageUrl" >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="legacy" class="mt-3">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Short description" [(ngModel)]="newMeetup.description"></textarea> 
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <span class="mt-3">
        <h3 class="d-flex justify-content-center" aria-required="true">Choose date & time</h3>
    </span>
    <mat-divider></mat-divider>
    <mat-label class="mt-1 ml-3 mb-2">Pick a date</mat-label>
    <input class="ml-3 mt-1" type="text" ngbDatepicker matInput #d="ngbDatepicker" [(ngModel)]="newMeetup.date" required/>
    <button id="pickAdateBtn" class="ml-3 mr-3" mat-flat-button  (click)="d.toggle()"> <i class="material-icons">highlight_alt</i> Pick a date</button>
    <mat-label class="mt-3 ml-3">Pick a time</mat-label>
    <ngb-timepicker class="ml-4" [(ngModel)]="newMeetup.time"></ngb-timepicker>
</p>
    <mat-divider></mat-divider>
    <button mat-flat-button class="mb-4" id="createMeetupBtn" (click)="onCreateMeetup()"> Create meetup</button>

</div>