<mat-sidenav-container class="sidenav-container">
 
  <mat-sidenav-content>
    <mat-toolbar class="header" style="position:fixed; margin-top:0px" ng-bind="isLoggedIn">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="headerTitle"  [routerLink]="['/']" (click)="clearError()">meetApp</span>
      <div class="header-links" *ngIf="isLoggedIn">
          <button mat-button (click)="onLogout()" [routerLink]="['/']" (click)="clearError()">Logout</button>
        </div>
      <div class="header-links" *ngIf="!isLoggedIn">
        <button mat-button  [routerLink]="['/signin']" (click)="clearError()">Sign in</button> |
        <button mat-button  [routerLink]="['/signup']" (click)="clearError()">Sign up</button>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
  <mat-divider ></mat-divider>
</mat-sidenav-container>

