/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.dropdown-menu{background-color: #424246}
div .ngb-dp-header{background-color: #424246; color:#c9c4c4}
div .ngb-dp-week{background-color:#424244}
div .ngb-dp-weekday{color:#c9c4c4}
.btn-light{color:#c9c4c4}
ngb-datepicker-navigation-select > .custom-select{background-color:grey; color:black; border: 1px solid #c9c4c4}
.ngb-tp-input{background-color:#333;color:white; border:solid 1px black}
span .ngb-dp-navigator-chevron{color:black}
.btn-link{color:#c9c4c4}
.ngb-tp-chevron{color:black}
.form-control::placeholder{color:#c9c4c4}